<h3>スケジュール詳細</h3>
 
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @post.start_day %></td>
　</tr>
  <tr>
    <th>投稿日時</th>
    <td><%= @post.updated_at.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><% if @post.all_day == "1" %>
         ○
        <% else %>
        
        <% end %>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @post.memo %></td>
  </tr>
</table>
 
 <div>
  <ul>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
  </ul>
  <ul>
    <li><%= link_to "スケジュールを編集する", :edit_post %></li>
  </ul>
  <ul>
    <li><%= link_to "スケジュールを削除する", "#{@post.id}", method: :delete, data: { confirm: "本当に削除しますか？" }  %>
  </ul>
    </div>
